.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  margin: 20px auto;
  width: 50%;
}

.image {
  width: 150px;
  height: 150px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: grab;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
